.carousel-item {
    position: relative;
  }
  
  .carousel-image {
    height: 500px;
    object-fit: cover;
    filter: brightness(0.8);  /* Esto aclarará ligeramente las imágenes */
    transition: filter 0.5s ease;  /* Para suavizar el efecto cuando se cambia la imagen */
  }
  
  .carousel-item .carousel-caption h5,
  .carousel-item .carousel-caption p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Añade un poco de sombra para que las letras sean más legibles */
  }
  
  .carousel-caption {
    z-index: 2;  /* Asegura que el texto esté por encima de la imagen */
  }
  
  .nunito-font {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  @media(max-width: 600px){
    .carousel-image{
      height: 450px;
    }
  }
  