.cart {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
  }
  
  .cart h2 {
    text-align: center;
    color: #3a3a3a;
    margin-bottom: 20px;
  }
  
  .cart > button{
    color: #0a0a0a;
    background-color: #ef8ccf;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .item-details h3 {
    margin: 0;
    color: #333;
  }
  
.item-details{
  display: flex;
  gap: 1.5rem;
}

.item-details img{
  margin-left: 1rem;
  width: 90px;
}
  
  .item-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .item-total button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    border:  1px solid #333 ;
    padding: 4px;
  }
  
  .item-total span {
    margin:  10px;
    font-weight: bold;
  }
  
  .item-total {
    font-weight: bold;
    color: #333;
  }

.item-total p{
  margin-top: 1rem;
  margin-bottom: 0 ;
}

  .cart-total {
    margin-top: 20px;
    text-align: right;
  }

  
  .cart-total h3 {
    color: #333;
  }
  .cart-total button{
    color: #ffffff;
  }
  @media (max-width: 660px) {
    .item-total button{
      font-size: 15px;
      width: 20px;
      height: 20px;
      padding: 0;
      font-weight: bold;
      text-align: center;
    }

    .item-details h5{
      font-size: .9rem;
    }

    .item-total span{
      margin: 5px;
    }

    .item-details img{
      width: 80px;
    }

  }
  
  