.categories-header{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.categories-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: .5rem;
}

.category{
    background-color: transparent;
    border: none;
    border: 1px solid transparent;
    transition: .3s ease  ;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.price div{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.price div label, .price div span{
    font-weight: 600;
}

.category:hover{
    border: 1px solid black;
}

/* Styling for range inputs */
.styled-range {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
  }
  
  .styled-range:hover {
    opacity: 0.8;
  }
  
  .styled-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #050505;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .styled-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
  }

@media(max-width:992px){
    .category{
        color: #000;
    }
}

