body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.nunito-font {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #1f0f02;
}

.active {
    font-weight: bold;
}

.search-bar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.search-bar input {
    border: none;
    padding: 8px;
    outline: none;
    width: 100%;
}

.search-bar button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
}

.search-display-button {
    font-weight: bolder;
    display: none;
    cursor: pointer;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.bi-cart {
    font-size: 1.6rem;
}

/* Responsive */
@media (max-width: 992px) {
    .navbar {
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .search-display-button {
        display: block;
    }

    .search-bar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
    }

    .search-bar.show {
        display: flex;
    }

    .user-actions {
        gap: 1rem;
    }
}