

:root{
    --bg-gradient-start: rgba(246, 242, 238, 0.9);
    --bg-gradient-end: rgba(240, 235, 230, 0.9);
    --shadow-main: rgba(206, 200, 193, 0.16);
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.nunito-font {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, var(--bg-gradient-start), var(--bg-gradient-end));
    backdrop-filter: blur(30px);
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

.menu {
    display: flex;
    align-items: center;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 200;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition:  0.3s ease;
}

.nav-links a:hover {
    color: #1f0f02;
}

.active-link {
    font-weight: bold;
    color: #000;
    position: relative;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: #000;
    width: 0;
    animation: border-grow 0.3s ease-out forwards;
}

@keyframes border-grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.search-bar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    background: transparent;
    transition: all 0.3s ease-in-out;
    transition: .5s ease;
}

.search-bar input {
    border: none;
    padding: 8px 15px;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.search-bar button {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: .3s ease;
}
.search-bar button:hover{
    color: #000000;
    font-weight: bold;
}

.search-display-button {
    font-weight: bolder;
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.user-actions {
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.user-actions a i{
    display: flex;
    font-size: 1.6rem;
    color: #000;
    transition: .3s ease;
}
.user-actions a{
    text-decoration: none;
}

.user-actions a:hover i{
    transform: translateY(-3px);
}


/* Responsive */
@media (max-width: 992px) {
    .navbar {
        padding: 10px;
    }
    .menu{
        width: 3rem;
        
    }
    .menu-toggle {
        display: block;
        color: #000;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .search-display-button {
        display: block;
        
    }

    .search-bar {
        position: absolute;
        top: 3rem;
        left: -5rem;
        width: 12rem;
        display: none;
        overflow: hidden;
        transition: display .3s ease;
    }
    

    .search-bar.show {
        display: flex;
    }

    .user-actions {
        gap: 1rem;
        padding-right: 0;
    }
}